option_settings:
  aws:elasticbeanstalk:application:environment:
    STREAMLIT_SERVER_PORT: 8501
    STREAMLIT_SERVER_ADDRESS: 0.0.0.0
    AWS_DEFAULT_REGION: us-east-1

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/streamlit.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/streamlit.log

commands:
  01_install_streamlit:
    command: "pip install streamlit"
    leader_only: true