option_settings:
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:755431179852:certificate/e605a2ab-1c28-4eb0-98c6-45138fc96188
    DefaultProcess: default